@use "utils" as *;
@use "global" as *;

.make-reservation {
  &.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    min-height: 833px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .rect {
    position: absolute;
    top: 166px;
    right: 482px;
    bottom: 166px;
    left: 477px;
    width: 449px;
    height: 501px;
    background-color: rgba(244, 247, 254, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 2px 4px 0px rgba(45, 51, 63, 0.2);
  }
  .highlight {
    position: absolute;
    top: 182px;
    right: auto;
    bottom: auto;
    left: 629.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 24px;
    font: 700 16.3125px/1.47 "Nunito", Helvetica, Arial, serif;
    color: rgb(45, 51, 63);
    text-align: center;
  }
  .image {
    position: absolute;
    top: 235px;
    right: 546px;
    bottom: 166px;
    left: 542px;
    width: 320px;
    height: 432px;
  }
  .rect5 {
    position: absolute;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    width: 1408px;
    height: 66px;
    background-color: rgb(244, 247, 254);
  }
  .title {
    position: absolute;
    top: 16px;
    right: auto;
    bottom: auto;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 35px;
    font: 400 28px/1.25 "Berkshire Swash", Helvetica, Arial, serif;
    color: rgb(18, 17, 17);
    text-align: center;
    letter-spacing: 4px;
  }
  .highlight1 {
    position: absolute;
    top: 22px;
    right: auto;
    bottom: auto;
    left: 506px;
    display: flex;
    align-items: center;
    width: 49px;
    height: 22px;
    font: 400 16.399999618530273px/1.34 "Nunito", Helvetica, Arial, serif;
    color: rgb(18, 17, 17);
    letter-spacing: 1px;
  }
  .highlight2 {
    position: absolute;
    top: 22px;
    right: auto;
    bottom: auto;
    left: 586px;
    display: flex;
    align-items: center;
    width: 57px;
    height: 22px;
    font: 500 16.399999618530273px/1.34 "Nunito", Helvetica, Arial, serif;
    color: rgb(18, 17, 17);
    letter-spacing: 1px;
  }
  .highlight21 {
    position: absolute;
    top: 22px;
    right: auto;
    bottom: auto;
    left: 674px;
    display: flex;
    align-items: center;
    width: 137px;
    height: 22px;
    font: 500 16.399999618530273px/1.34 "Nunito", Helvetica, Arial, serif;
    color: rgb(18, 17, 17);
    letter-spacing: 0.9px;
  }
  .image3 {
    position: absolute;
    top: 20px;
    right: 410px;
    bottom: 787px;
    left: 971px;
    width: 27px;
    height: 26px;
  }
  .highlight22 {
    position: absolute;
    top: 22px;
    right: auto;
    bottom: auto;
    left: 1030px;
    display: flex;
    align-items: center;
    width: 91px;
    height: 22px;
    font: 500 16.399999618530273px/1.34 "Nunito", Helvetica, Arial, serif;
    color: rgb(18, 17, 17);
    letter-spacing: 0.9px;
  }
  .highlight3 {
    position: absolute;
    top: 22px;
    right: auto;
    bottom: auto;
    left: 1170px;
    display: flex;
    align-items: center;
    width: 73px;
    height: 22px;
    font: 500 16.399999618530273px/1.34 "Nunito", Helvetica, Arial, serif;
    color: rgb(117, 81, 255);
    letter-spacing: 0.9px;
  }
}
