<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Feedback.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="feedback root">

      <div class="text_box">
        <span class="text"><span class="text_span0">Pages / </span><span class="text_span1">Feedback</span></span>
      </div>
      <h1 class="big_title">Feedback</h1>
      <img class="cover" src="/assets/758124db7abec645ca7c69f7f0ee11f7.svg" alt="alt text" />
      <div class="rect"></div>
      <h5 class="highlight">i really like it</h5>
      <h4 class="highlight1">Really good service</h4>
      <img class="image" src="/assets/b576f1531eedd6cf58a7e5324cfdf933.svg" alt="alt text" /><img
        class="image2"
        src="/assets/7e96dd0e8e4da356ba638174fa5994b2.svg"
        alt="alt text"
      />
      <div class="text1">User Name</div>
      <div class="rect1"></div>
      <h5 class="highlight2">i really like it</h5>
      <h4 class="highlight11">Really good service</h4>
      <img class="image1" src="/assets/9cb7c2753b85fc9126076f438ede5832.svg" alt="alt text" /><img
        class="image21"
        src="/assets/b7772295556ea2d106fe008ccc13cc04.svg"
        alt="alt text"
      />
      <div class="text11">User Name</div>
      <div class="rect2"></div>
      <h5 class="highlight3">i really like it</h5>
      <h4 class="highlight12">Really good service</h4>
      <img class="image4" src="/assets/36d0a173f04c0623a92feadb23a85ce8.svg" alt="alt text" /><img
        class="image5"
        src="/assets/a26affebf122f3d945867d6e9c1b9c3d.svg"
        alt="alt text"
      />
      <div class="text12">User Name</div>
      <div class="rect2"></div>
      <h5 class="highlight3">i really like it</h5>
      <h4 class="highlight12">Really good service</h4>
      <img class="image4" src="/assets/1098c24e64a77f69d6a7d18103bab18c.svg" alt="alt text" /><img
        class="image5"
        src="/assets/11f2d817086b0259e6974d23b7b2783d.svg"
        alt="alt text"
      />
      <div class="text12">User Name</div>
      <div class="rect3"></div>
      <h5 class="highlight4">i really like it</h5>
      <h4 class="highlight13">Really good service</h4>
      <img class="image41" src="/assets/54ef77be115abd0fc816378fcd22d2a1.svg" alt="alt text" /><img
        class="image51"
        src="/assets/48e52098f1722af4a0503cded7ede509.svg"
        alt="alt text"
      />
      <div class="text13">User Name</div>
      <div class="rect3"></div>
      <h5 class="highlight4">i really like it</h5>
      <h4 class="highlight13">Really good service</h4>
      <img class="image41" src="/assets/665e6e7abea615a326dabe75cdc77b5c.svg" alt="alt text" /><img
        class="image51"
        src="/assets/496fa05f496e2efdabdbd75b11e0d2ce.svg"
        alt="alt text"
      />
      <div class="text13">User Name</div>
      <img class="image6" src="/assets/009e82cf0d39bef707d11d8a37d7b2cd.svg" alt="alt text" /><img
        class="image11"
        src="/assets/b3fb38d1740b15bc42908fb1c195505a.svg"
        alt="alt text"
      />
      <div class="rect4"></div>
      <h5 class="highlight5">i really like it</h5>
      <h4 class="highlight14">Really good service</h4>
      <img class="image42" src="/assets/7e1ae64f95811dd0934c27861b4dfd9b.svg" alt="alt text" /><img
        class="image22"
        src="/assets/b13b9661fa57dd9c5483ca0dd54377e9.svg"
        alt="alt text"
      />
      <div class="text14">User Name</div>
      <div class="rect4"></div>
      <h5 class="highlight5">i really like it</h5>
      <h4 class="highlight14">Really good service</h4>
      <img class="image42" src="/assets/710c75646c8585d8520f6cd710ed8920.svg" alt="alt text" /><img
        class="image22"
        src="/assets/a35e40f14d7b0b59f6bd58986f7a9000.svg"
        alt="alt text"
      />
      <div class="text15">User Name</div>
      <img class="image111" src="/assets/a485015407e9e3f8f8f0b38ec57867f6.svg" alt="alt text" />
      <div class="rect5"></div>
      <h5 class="highlight6">i really like it</h5>
      <h4 class="highlight15">Really good service</h4>
      <img class="image3" src="/assets/b9ca4f6fe780311b72f8ac74496b69d4.svg" alt="alt text" /><img
        class="image12"
        src="/assets/4feb7b68c2839b672e2625750a52871b.svg"
        alt="alt text"
      />
      <div class="text16">User Name</div>
      <img class="image112" src="/assets/e23fe02ddcba27063b8d590f6a107f9f.svg" alt="alt text" /><img
        class="image14"
        src="/assets/105f9dc53d0de7ff59f1761e8ab7258a.svg"
        alt="alt text"
      />
      <div class="rect11"></div>
      <h5 class="highlight21">Sign Out</h5>
      <img class="image15" src="/assets/342a1783dafe06f159b8b1e5e94e1ead.svg" alt="alt text" />
      <h5 class="highlight22"><a href="Users.html">Users</a></h5>
      <img class="image151" src="/assets/2c8d77c0ebbeafebc52fb826a80b10ca.svg" alt="alt text" />
      <h5 class="highlight23"><a href="Feedback.html">Feedback</a></h5>
      <img class="image152" src="/assets/4ec030c7dfef79c391583301588114f1.svg" alt="alt text" />
      <h5 class="highlight24"><a href="Restaurant.html">Restaurants</a></h5>
      <img class="image19" src="/assets/7639259ad0701227091c24aa3a3eca67.svg" alt="alt text" />
      <h5 class="highlight25"><a href="Reservation.html">Reservations</a></h5>
      <img class="image153" src="/assets/57d4172cee411a74664d6b5eb77cbc57.svg" alt="alt text" />
      <h5 class="highlight31"><a href="Dashboard.html">Dashboard</a></h5>
      <img class="image154" src="/assets/2a578adb80ea8b7eb93bea0d2608ac4e.svg" alt="alt text" />
      <div class="rect21"></div>
      <h1 class="title">YourFavourite</h1>
      <img class="line" src="/assets/52d42cee89a6e9dec7af0489c520b55a.svg" alt="alt text" /><img
        class="image221"
        src="/assets/436f4f9737f5589ffe3f6ea92ba1f83f.svg"
        alt="alt text"
      />
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
