<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Home.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="home root">
      <div class="rect"></div>
      <h1 class="hero_title">When You Find</h1>
      <h1 class="hero_title1">YourFavourite</h1>
      <h1 class="hero_title2">You Find Happiness</h1>
      <h4 class="highlight_box">
        <span class="highlight"
          ><span class="highlight_span0">Introducing </span><span class="highlight_span1">YourFavourite</span
          ><span class="highlight_span2">, We’re always in the mood for<br />food.</span></span
        >
      </h4>
      <div class="rect1"></div>
      <h5 class="highlight1">Get Started</h5>
      <img class="image" src="/assets/restaurant_food.png" alt="alt text" /><img
        class="image2"
        src="/assets/traditional_indian_meal.png"
        alt="alt text"
      />
      <h5 class="highlight2">ABOUT US</h5>
      <h1 class="big_title">What&#x27;s Special About Our<br />Services ?</h1>
      <h5 class="highlight3">
        We prioritize our customers and their trust as the cornerstone of our<br />platform. Ensuring top-notch quality
        is non-negotiable for us, and our<br />dedicated team consistently monitors and maintains high standards.
      </h5>
      <h5 class="highlight21">POPULAR RESTAURANTS</h5>
      <h1 class="big_title1">What&#x27;s Trending</h1>
      <div class="rect2"></div>
      <img class="image3" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title">Pirate</h2>
      <h5 class="highlight4"><i class="fas fa-star"></i></h5>
      <h5 class="highlight41"><i class="fas fa-star"></i></h5>
      <h5 class="highlight42"><i class="fas fa-star"></i></h5>
      <h5 class="highlight43"><i class="fas fa-star"></i></h5>
      <h5 class="highlight5"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect3"></div>
      <img class="image31" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title1">Pirate</h2>
      <h5 class="highlight44"><i class="fas fa-star"></i></h5>
      <h5 class="highlight45"><i class="fas fa-star"></i></h5>
      <h5 class="highlight46"><i class="fas fa-star"></i></h5>
      <h5 class="highlight47"><i class="fas fa-star"></i></h5>
      <h5 class="highlight51"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect31"></div>
      <img class="image32" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title2">Pirate</h2>
      <h5 class="highlight48"><i class="fas fa-star"></i></h5>
      <h5 class="highlight49"><i class="fas fa-star"></i></h5>
      <h5 class="highlight410"><i class="fas fa-star"></i></h5>
      <h5 class="highlight411"><i class="fas fa-star"></i></h5>
      <h5 class="highlight52"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect21"></div>
      <img class="image33" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title3">Pirate</h2>
      <h5 class="highlight412"><i class="fas fa-star"></i></h5>
      <h5 class="highlight413"><i class="fas fa-star"></i></h5>
      <h5 class="highlight414"><i class="fas fa-star"></i></h5>
      <h5 class="highlight415"><i class="fas fa-star"></i></h5>
      <h5 class="highlight53"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect22"></div>
      <img class="image34" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title4">Pirate</h2>
      <h5 class="highlight416"><i class="fas fa-star"></i></h5>
      <h5 class="highlight417"><i class="fas fa-star"></i></h5>
      <h5 class="highlight418"><i class="fas fa-star"></i></h5>
      <h5 class="highlight419"><i class="fas fa-star"></i></h5>
      <h5 class="highlight54"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect23"></div>
      <img class="image35" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title5">Pirate</h2>
      <h5 class="highlight420"><i class="fas fa-star"></i></h5>
      <h5 class="highlight421"><i class="fas fa-star"></i></h5>
      <h5 class="highlight422"><i class="fas fa-star"></i></h5>
      <h5 class="highlight423"><i class="fas fa-star"></i></h5>
      <h5 class="highlight55"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect4"></div>
      <h1 class="title">YourFavourite</h1>
      <h5 class="highlight6"><a href="Home.html">Home</a></h5>
      <img class="image4" src="/assets/8759255463d8782228d76290c45eaff1.svg" alt="alt text" />
      <h5 class="highlight7"><a href="Search.html">Search</a></h5>
      <h5 class="highlight71"><a href="MyReservations.html">My Reservations</a></h5>
      <img class="image5" src="/assets/ba5aca09f1abb84073b7a69b3f3cb353.svg" alt="alt text" />
      <h5 class="highlight72">User Name</h5>
      <h5 class="highlight8">Sign Out</h5>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
