<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/MakeReservation.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="make-reservation root">
      <div class="rect"></div>
      <h5 class="highlight">Make a reservation</h5>
      <a href="MyReservations.html"><img class="image" src="/assets/reservation_form.png" alt="alt text" /></a>
      <div class="rect5"></div>
      <h1 class="title">YourFavourite</h1>
      <h5 class="highlight1"><a href="Home.html">Home</a></h5>
      <h5 class="highlight2"><a href="Search.html">Search</a></h5>
      <h5 class="highlight21"><a href="MyReservations.html">My Reservations</a></h5>
      <img class="image3" src="/assets/ac38f2e76744bbf6bb7f69f2864d4392.svg" alt="alt text" />
      <h5 class="highlight22">User Name</h5>
      <h5 class="highlight3">Sign Out</h5>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
