<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/MyReservations.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="my-reservations root">
      <div class="rect"></div>
      <img class="image" src="/assets/grilled_steak_dinner.png" alt="alt text" />
      <h3 class="subtitle">Pirate</h3>
      <img class="image2" src="/assets/d086f5e200047783d8c9bb841292aafa.svg" alt="alt text" />
      <h5 class="highlight">Reservation confirmed</h5>
      <img class="image21" src="/assets/bbc7ee036ba78e99788c36f4a5b3eb70.svg" alt="alt text" />
      <h5 class="highlight1">2 (Outdoor seating)</h5>
      <img class="image22" src="/assets/34ea3d29b9cc7bea427a9697b4682b4b.svg" alt="alt text" />
      <h5 class="highlight2">Tue, May 24 at 7:30 PM</h5>
      <h5 class="highlight11">Modify</h5>
      <h5 class="highlight12">Cancel</h5>
      <h5 class="highlight13">Add to calendar</h5>
      <div class="rect1"></div>
      <div class="rect2"></div>
      <img class="image23" src="/assets/f5a1a071123635aea806119530388ca8.svg" alt="alt text" />
      <h5 class="highlight3">Browse menu</h5>
      <div class="text">Restaurant’s profile</div>
      <div class="rect11"></div>
      <div class="rect21"></div>
      <img class="image24" src="/assets/52dc7b1793b28f29a3f966ef3a13bb0e.svg" alt="alt text" />
      <h5 class="highlight4">Get directions</h5>
      <div class="rect3"></div>
      <div class="rect22"></div>
      <img class="image25" src="/assets/0b820d6cf7685594a8b835d5b491b502.svg" alt="alt text" />
      <h5 class="highlight5">Send message</h5>
      <div class="text1">Contact restaurant</div>
      <div class="rect4"></div>
      <img class="image1" src="/assets/grilled_steak_dinner.png" alt="alt text" />
      <h3 class="subtitle1">Pirate</h3>
      <img class="image26" src="/assets/d086f5e200047783d8c9bb841292aafa.svg" alt="alt text" />
      <h5 class="highlight6">Reservation confirmed</h5>
      <img class="image27" src="/assets/bbc7ee036ba78e99788c36f4a5b3eb70.svg" alt="alt text" />
      <h5 class="highlight7">2 (Outdoor seating)</h5>
      <img class="image28" src="/assets/34ea3d29b9cc7bea427a9697b4682b4b.svg" alt="alt text" />
      <h5 class="highlight8">Tue, May 24 at 7:30 PM</h5>
      <h5 class="highlight14">Modify</h5>
      <h5 class="highlight15">Cancel</h5>
      <h5 class="highlight16">Add to calendar</h5>
      <div class="rect12"></div>
      <div class="rect23"></div>
      <img class="image29" src="/assets/f5a1a071123635aea806119530388ca8.svg" alt="alt text" />
      <h5 class="highlight9">Browse menu</h5>
      <div class="text2">Restaurant’s profile</div>
      <div class="rect13"></div>
      <div class="rect24"></div>
      <img class="image210" src="/assets/52dc7b1793b28f29a3f966ef3a13bb0e.svg" alt="alt text" />
      <h5 class="highlight10">Get directions</h5>
      <div class="rect31"></div>
      <div class="rect25"></div>
      <img class="image211" src="/assets/0b820d6cf7685594a8b835d5b491b502.svg" alt="alt text" />
      <h5 class="highlight17">Send message</h5>
      <div class="text3">Contact restaurant</div>
      <div class="rect5"></div>
      <h1 class="title">YourFavourite</h1>
      <h5 class="highlight21"><a href="Home.html">Home</a></h5>
      <h5 class="highlight31"><a href="Search.html">Search</a></h5>
      <h5 class="highlight32"><a href="MyReservations.html">My Reservations</a></h5>
      <img class="image3" src="/assets/24e6facc1f9d77744f070a542c26591b.svg" alt="alt text" /><img
        class="image4"
        src="/assets/c3fba0d25513daa453c9254c409fa4dc.svg"
        alt="alt text"
      />
      <h5 class="highlight33">User Name</h5>
      <h5 class="highlight41">Sign Out</h5>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
