<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/PreviewDetails.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="preview-details root">
      <div class="rect"></div>
      <h1 class="title">YourFavourite</h1>
      <h5 class="highlight"><a href="Home.html">Home</a></h5>
      <h5 class="highlight1"><a href="Search.html">Search</a></h5>
      <h5 class="highlight2"><a href="MyReservations.html">My Reservations</a></h5>
      <img class="image" src="/assets/34348f9ead84d2773f260c8b0ee18f80.svg" alt="alt text" />
      <h5 class="highlight3">User Name</h5>
      <h5 class="highlight11">Sign Out</h5>
      <div class="text">Overall ratings and reviews</div>
      <h5 class="highlight21">Reviews can only be made by diners who have<br />eaten at this restaurant</h5>
      <img class="image2" src="/assets/6f98e65664865e5dceac5c8605e70229.svg" alt="alt text" /><img
        class="image21"
        src="/assets/d7615e5987951acd5ee156f4b218d49e.svg"
        alt="alt text"
      /><img class="image22" src="/assets/3fff2abba90712f5c361022c186ac9c6.svg" alt="alt text" /><img
        class="image23"
        src="/assets/2825821bbe9f7b5d9a8bbbf315e6119b.svg"
        alt="alt text"
      /><img class="image24" src="/assets/66d5e3a7c5eea0f0f6bdec9957aae350.svg" alt="alt text" />
      <div class="text1">4.4 based on recent ratings</div>
      <h5 class="highlight22">4.4</h5>
      <div class="text11">Food</div>
      <h5 class="highlight23">4.6</h5>
      <div class="text12">Service</div>
      <h5 class="highlight24">4.6</h5>
      <div class="text13">Ambience</div>
      <h5 class="highlight25">3.9</h5>
      <div class="text14">Value</div>
      <h5 class="highlight31">5</h5>
      <div class="rect1"></div>
      <div class="rect2"></div>
      <h5 class="highlight32">4</h5>
      <div class="rect11"></div>
      <div class="rect21"></div>
      <h5 class="highlight33">3</h5>
      <div class="rect12"></div>
      <div class="rect22"></div>
      <h5 class="highlight34">2</h5>
      <div class="rect13"></div>
      <div class="rect23"></div>
      <h5 class="highlight35">1</h5>
      <div class="rect14"></div>
      <div class="rect24"></div>
      <div class="info">114 Reviews</div>
      <div class="rect3"></div>
      <h5 class="highlight36">Newest</h5>
      <img class="image4" src="/assets/44e46e56ab030316efacde87bfd34828.svg" alt="alt text" />
      <div class="rect4"></div>
      <h5 class="highlight4">i really like it</h5>
      <h4 class="highlight5">Really good service</h4>
      <img class="image5" src="/assets/bc62cba5073d5ab76ba1ff5ed01cae5a.svg" alt="alt text" />
      <div class="text2">User Name</div>
      <img class="image7" src="/assets/2726cc5cd92221eddd7c38519e44ddd2.svg" alt="alt text" />
      <div class="rect41"></div>
      <h5 class="highlight41">i really like it</h5>
      <h4 class="highlight51">Really good service</h4>
      <img class="image51" src="/assets/240764f43da4a005d37cce5c88cf6779.svg" alt="alt text" />
      <div class="text21">User Name</div>
      <img class="image71" src="/assets/2726cc5cd92221eddd7c38519e44ddd2.svg" alt="alt text" />
      <h3 class="subtitle">What 114 people are saying</h3>
      <div class="rect5"></div>
      <div class="text3"><a href="MakeReservation.html">Reserve</a></div>
      <h1 class="hero_title">Pirate</h1>
      <img class="image11" src="/assets/518fdff638e3ef7a7a3a93e81fae4c16.png" alt="alt text" />
      <h3 class="subtitle1">Menu</h3>
      <img class="image12" src="/assets/menu_dishes.png" alt="alt text" /><img
        class="image121"
        src="/assets/menu_dishes.png"
        alt="alt text"
      />
      <div class="rect6"></div>
      <img class="image13" src="/assets/restaurant_interior.png" alt="alt text" />
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
