<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Reservation.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="reservation root">
      <div class="text">Pages / Reservation</div>
      <h1 class="big_title">Reservations</h1>
      <div class="rect"></div>
      <img class="image" src="/assets/black_square.png" alt="alt text" /><img
        class="cover"
        src="/assets/1237452b5e5f32838d8d689ad272c937.svg"
        alt="alt text"
      />
      <div class="text1">Search</div>
      <img class="image1" src="/assets/fe9981f0e942a6fb5c7fea9d5d9b8347.svg" alt="alt text" />
      <div class="rect1"></div>
      <div class="text2">Add Reservation</div>
      <img class="image4" src="/assets/88c635a2424d8a0018644471bb90ddd6.svg" alt="alt text" />
      <div class="rect2"></div>
      <div class="rect21"></div>
      <img class="image6" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect22"></div>
      <img class="image61" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="line"></div>
      <img class="cover1" src="/assets/95963f91507387ed4b81b33ca6bbde22.svg" alt="alt text" /><img
        class="image62"
        src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg"
        alt="alt text"
      />
      <h5 class="highlight">User Name</h5>
      <div class="text3">+21612345678</div>
      <div class="text31">31 Janvier 12:30:25</div>
      <div class="text32">Restaurant Name</div>
      <div class="rect23"></div>
      <img class="image63" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect24"></div>
      <img class="image64" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect25"></div>
      <img class="image65" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="line4"></div>
      <div class="line5"></div>
      <div class="rect26"></div>
      <img class="image66" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect27"></div>
      <img class="image67" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" /><img
        class="image68"
        src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg"
        alt="alt text"
      />
      <div class="line6"></div>
      <div class="line7"></div>
      <div class="line11"></div>
      <div class="line8"></div>
      <img class="image7" src="/assets/a1a4c796934fc57f3d2a019f2ef855fc.svg" alt="alt text" /><img
        class="cover2"
        src="/assets/9d6fec18a6769ade9af0e66fc0e1da45.svg"
        alt="alt text"
      /><img class="image69" src="/assets/0927df4f4d96b3511af464805b7dfb22.svg" alt="alt text" />
      <div class="text4">1 selected</div>
      <div class="rect3"></div>
      <div class="info">1</div>
      <h5 class="highlight1">User Name</h5>
      <h5 class="highlight2">User Name</h5>
      <h5 class="highlight3">User Name</h5>
      <h5 class="highlight4">User Name</h5>
      <img class="image9" src="/assets/99adbfd7e2e9f29412d2159e442bc756.svg" alt="alt text" />
      <h5 class="highlight5">User Name</h5>
      <h5 class="highlight6">User Name</h5>
      <h5 class="highlight7">User Name</h5>
      <h5 class="highlight8">User Name</h5>
      <div class="text33">31 Janvier 12:30:25</div>
      <div class="text34">31 Janvier 12:30:25</div>
      <div class="text35">31 Janvier 12:30:25</div>
      <div class="text36">31 Janvier 12:30:25</div>
      <div class="text37">31 Janvier 12:30:25</div>
      <div class="text38">31 Janvier 12:30:25</div>
      <div class="text39">31 Janvier 12:30:25</div>
      <div class="text310">31 Janvier 12:30:25</div>
      <img class="image91" src="/assets/ba78a71f4dcc9cc0198e18d22c878146.svg" alt="alt text" /><img
        class="image92"
        src="/assets/c2158a9e29d678621eeee10cf5c5fa5f.svg"
        alt="alt text"
      /><img class="image93" src="/assets/d01cba67ac7624296132ec7aae569c93.svg" alt="alt text" /><img
        class="image94"
        src="/assets/20e17d65b98540e797061bb3c998f390.svg"
        alt="alt text"
      /><img class="image95" src="/assets/a11487f9936aec85b37818074f6f5fbc.svg" alt="alt text" /><img
        class="image96"
        src="/assets/d391ef2792a2c5fe8446d4cfe84afa33.svg"
        alt="alt text"
      /><img class="image97" src="/assets/b3d8335095c002150728e225a921cf5f.svg" alt="alt text" /><img
        class="image98"
        src="/assets/ce1722ac08cec73162efd3be65974391.svg"
        alt="alt text"
      /><img class="image99" src="/assets/fad1a76762561bcd26d38e50fa16ec4b.svg" alt="alt text" />
      <div class="text311">Restaurant Name</div>
      <div class="text312">Restaurant Name</div>
      <div class="text313">Restaurant Name</div>
      <div class="text314">Restaurant Name</div>
      <div class="text315">Restaurant Name</div>
      <div class="text316">Restaurant Name</div>
      <div class="text317">Restaurant Name</div>
      <div class="text318">Restaurant Name</div>
      <div class="text319">+21612345678</div>
      <div class="text320">+21612345678</div>
      <div class="text321">+21612345678</div>
      <div class="text322">+21612345678</div>
      <div class="text323">+21612345678</div>
      <div class="text324">+21612345678</div>
      <div class="text325">+21612345678</div>
      <div class="text326">+21612345678</div>
      <img class="image910" src="/assets/c630fb948bb48a2e5bddbefc6a72c0a3.svg" alt="alt text" /><img
        class="image911"
        src="/assets/963c995f28b8f555cb7c8e6fdec01998.svg"
        alt="alt text"
      /><img class="image912" src="/assets/6bd9eca069fe2c85105dcdbdd1593a0c.svg" alt="alt text" /><img
        class="image913"
        src="/assets/5a5f06836ed565d7941fa5bbeaf0e004.svg"
        alt="alt text"
      /><img class="image914" src="/assets/70276d920c3e3490c61eb2c221cc96d9.svg" alt="alt text" /><img
        class="image915"
        src="/assets/578bc1d299eb465885cba5c07b84ad37.svg"
        alt="alt text"
      /><img class="image916" src="/assets/4c533cbcd32cd5adcf2ea5f90895dbe6.svg" alt="alt text" /><img
        class="image917"
        src="/assets/2eb38ae228e98d775df744cc2b9ff05b.svg"
        alt="alt text"
      />
      <div class="rect6"></div>
      <div class="text21">Pending</div>
      <div class="rect7"></div>
      <div class="text22">Confirmed</div>
      <div class="rect71"></div>
      <div class="text23">Confirmed</div>
      <div class="rect8"></div>
      <div class="text24">Canceled</div>
      <div class="rect9"></div>
      <div class="text25">Confirmed</div>
      <div class="rect61"></div>
      <div class="text26">Pending</div>
      <div class="rect62"></div>
      <div class="text27">Pending</div>
      <div class="rect10"></div>
      <div class="text28">Confirmed</div>
      <div class="rect72"></div>
      <div class="text29">Confirmed</div>
      <img class="cover11" src="/assets/9461140b59dba49126ce272d5126dfd2.svg" alt="alt text" /><img
        class="image610"
        src="/assets/341da848dab72b99ab87fea65a90a3aa.svg"
        alt="alt text"
      />
      <h5 class="highlight9">User Name</h5>
      <div class="text327">31 Janvier 12:30:25</div>
      <img class="image918" src="/assets/8e79f81f868e7fbbc26202303eafacec.svg" alt="alt text" />
      <div class="text328">Restaurant Name</div>
      <div class="text329">+21612345678</div>
      <img class="image919" src="/assets/fca7b7a6666b89c5f24d4c4b549f6af7.svg" alt="alt text" />
      <div class="rect63"></div>
      <div class="text210">Pending</div>
      <div class="rect11"></div>
      <div class="text211">Modify</div>
      <div class="rect12"></div>
      <div class="text212">Delete</div>
      <div class="rect12"></div>
      <div class="text212">Delete</div>
      <div class="rect13"></div>
      <div class="text213">Delete</div>
      <div class="rect14"></div>
      <div class="text214">Modify</div>
      <div class="rect141"></div>
      <div class="text215">Modify</div>
      <div class="rect142"></div>
      <div class="text216">Modify</div>
      <div class="rect15"></div>
      <div class="text217">Delete</div>
      <div class="rect143"></div>
      <div class="text218">Modify</div>
      <div class="rect131"></div>
      <div class="text219">Delete</div>
      <div class="rect111"></div>
      <div class="text220">Modify</div>
      <div class="rect16"></div>
      <div class="text221">Modify</div>
      <div class="rect132"></div>
      <div class="text222">Delete</div>
      <div class="rect17"></div>
      <div class="text223">Delete</div>
      <div class="rect161"></div>
      <div class="text224">Modify</div>
      <div class="rect144"></div>
      <div class="text225">Modify</div>
      <div class="rect133"></div>
      <div class="text226">Delete</div>
      <div class="rect134"></div>
      <div class="text227">Delete</div>
      <div class="rect121"></div>
      <div class="text228">Delete</div>
      <div class="rect18"></div>
      <div class="text229">Modify</div>
      <div class="rect19"></div>
      <div class="text230">Delete</div>
      <div class="rect20"></div>
      <h5 class="highlight11">Sign Out</h5>
      <img class="image920" src="/assets/e39ed92179badd3b04d28c2a4edcb46d.svg" alt="alt text" />
      <h5 class="highlight12"><a href="Users.html">Users</a></h5>
      <img class="image921" src="/assets/f88abe19251e803e1608936b81ade412.svg" alt="alt text" />
      <h5 class="highlight13"><a href="Feedback.html">Feedback</a></h5>
      <img class="image922" src="/assets/c5538ea2a58212d7adaa7920cbc367ff.svg" alt="alt text" />
      <h5 class="highlight14"><a href="Restaurant.html">Restaurants</a></h5>
      <img class="image14" src="/assets/913f7099d1bab5e28a622f02d949ca67.svg" alt="alt text" />
      <h5 class="highlight15"><a href="Reservation.html">Reservations</a></h5>
      <img class="image923" src="/assets/e81f8b44c4aec7531534a2b12e0085d3.svg" alt="alt text" />
      <h5 class="highlight21"><a href="Dashboard.html">Dashboard</a></h5>
      <img class="image924" src="/assets/79a4bdf63db822b31b5da45321567e56.svg" alt="alt text" />
      <div class="rect211"></div>
      <h1 class="title">YourFavourite</h1>
      <img class="line21" src="/assets/e65c5e06c5b432377b3207f1113433af.svg" alt="alt text" /><img
        class="image17"
        src="/assets/436f4f9737f5589ffe3f6ea92ba1f83f.svg"
        alt="alt text"
      />
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
