<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Restaurant.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <main class="restaurant main">
      <section class="section1">
        <div class="text">Pages /Restaurants</div>
        <h1 class="big_title">Restaurant</h1>
        <div class="flex_row">
          <div class="content_box1">
            <img class="cover" src="/assets/1dfee3bbe41adbcfbe32f5b331d3c85c.svg" alt="alt text" />
          </div>
          <button class="btn">Add Restaurant</button>
        </div>
        <div class="flex_row1">
          <img class="image1" src="/assets/fe9981f0e942a6fb5c7fea9d5d9b8347.svg" alt="alt text" />
          <div class="text2">Search</div>
        </div>
        <div class="rect2"></div>
        <img class="image4" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <div class="rect21"></div>
        <img class="image41" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <hr class="line" size="1" />
        <img class="cover1" src="/assets/77e7828c7eca9259656bf79ecfec2fb3.svg" alt="alt text" /><img
          class="image42"
          src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg"
          alt="alt text"
        />
        <h5 class="highlight">Restaurant Name</h5>
        <div class="text3">+21612345678</div>
        <div class="text31">Owner Name</div>
        <div class="text32">23 Main Street, Anytown</div>
        <div class="rect22"></div>
        <button class="btn1">Delete</button><button class="btn2">Modify</button
        ><img class="image43" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <div class="rect23"></div>
        <img class="image44" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <div class="rect24"></div>
        <img class="image45" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <hr class="line1" size="1" />
        <hr class="line2" size="1" />
        <hr class="line3" size="1" />
        <hr class="line4" size="1" />
        <hr class="line5" size="1" />
        <img class="cover11" src="/assets/9c87ac9931ee94e43d10948590804205.svg" alt="alt text" /><img
          class="image46"
          src="/assets/c6de33531be37dca8acb3256af5d9a40.svg"
          alt="alt text"
        />
        <div class="rect25"></div>
        <img class="image47" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <div class="rect26"></div>
        <img class="image48" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" /><img
          class="cover2"
          src="/assets/1a3a0e13fb60f95c4eb3efe260f0e878.svg"
          alt="alt text"
        /><img class="image49" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
        <hr class="line6" size="1" />
        <hr class="line7" size="1" />
        <hr class="line8" size="1" />
        <hr class="line9" size="1" />
        <img class="cover3" src="/assets/18fc6b1fa0c35c4158bfe1733de4503b.svg" alt="alt text" /><img
          class="cover3"
          src="/assets/18fc6b1fa0c35c4158bfe1733de4503b.svg"
          alt="alt text"
        /><img class="image410" src="/assets/8ae48e494b7c476e593a9bb69ab31b85.svg" alt="alt text" />
        <div class="text4">1 selected</div>
        <div class="rect5"></div>
        <div class="info">1</div>
        <h5 class="highlight1">Restaurant Name</h5>
        <h5 class="highlight2">Restaurant Name</h5>
        <h5 class="highlight3">Restaurant Name</h5>
        <h5 class="highlight4">Restaurant Name</h5>
        <h5 class="highlight5">Restaurant Name</h5>
        <h5 class="highlight6">Restaurant Name</h5>
        <h5 class="highlight7">Restaurant Name</h5>
        <h5 class="highlight8">Restaurant Name</h5>
        <h5 class="highlight9">Restaurant Name</h5>
        <div class="text33">Owner Name</div>
        <div class="text34">Owner Name</div>
        <div class="text35">Owner Name</div>
        <div class="text36">Owner Name</div>
        <div class="text37">Owner Name</div>
        <div class="text38">Owner Name</div>
        <div class="text39">Owner Name</div>
        <div class="text310">Owner Name</div>
        <div class="text311">Owner Name</div>
        <img class="image7" src="/assets/012a6b1b5cf0f2f78c5f631aff6426e6.svg" alt="alt text" /><img
          class="image71"
          src="/assets/f23526143bc255be550273633c5d52f7.svg"
          alt="alt text"
        /><img class="image72" src="/assets/18538c7b8a8fc1867911c00b0a0e5a7a.svg" alt="alt text" /><img
          class="image73"
          src="/assets/ba8ca8b8bebbc6bd8f56f982232ca948.svg"
          alt="alt text"
        /><img class="image74" src="/assets/52bfaf7dfb66df5b9aa5833688914dcf.svg" alt="alt text" /><img
          class="image75"
          src="/assets/fa03bbc5840a5a98551c46a7f7e64361.svg"
          alt="alt text"
        /><img class="image76" src="/assets/6475f3d5bac1017a2cee9429f91c1c59.svg" alt="alt text" /><img
          class="image77"
          src="/assets/8721e2077403e02110a28812797b7988.svg"
          alt="alt text"
        /><img class="image78" src="/assets/0d96a6878c1307a93c45878140355266.svg" alt="alt text" /><img
          class="image79"
          src="/assets/0229e287c07c054ca6a9e2785e7ba3d1.svg"
          alt="alt text"
        />
        <div class="text312">23 Main Street, Anytown</div>
        <div class="text313">23 Main Street, Anytown</div>
        <div class="text314">23 Main Street, Anytown</div>
        <div class="text315">23 Main Street, Anytown</div>
        <div class="text316">23 Main Street, Anytown</div>
        <div class="text317">23 Main Street, Anytown</div>
        <div class="text318">23 Main Street, Anytown</div>
        <div class="text319">23 Main Street, Anytown</div>
        <div class="text320">23 Main Street, Anytown</div>
        <div class="text321">+21612345678</div>
        <div class="text322">+21612345678</div>
        <div class="text323">+21612345678</div>
        <div class="text324">+21612345678</div>
        <div class="text325">+21612345678</div>
        <div class="text326">+21612345678</div>
        <div class="text327">+21612345678</div>
        <div class="text328">+21612345678</div>
        <div class="text329">+21612345678</div>
        <button class="btn3">Modify</button><button class="btn4">Delete</button>
        <div class="rect8"></div>
        <div class="text1">Modify</div>
        <div class="rect10"></div>
        <div class="text11">Modify</div>
        <div class="rect101"></div>
        <div class="text12">Modify</div>
        <div class="rect102"></div>
        <div class="text13">Modify</div>
        <div class="rect103"></div>
        <div class="text14">Modify</div>
        <div class="rect104"></div>
        <div class="text15">Modify</div>
        <div class="rect105"></div>
        <div class="text16">Modify</div>
        <div class="rect106"></div>
        <div class="text17">Modify</div>
        <div class="rect11"></div>
        <div class="text18">Delete</div>
        <div class="rect111"></div>
        <div class="text19">Delete</div>
        <div class="rect112"></div>
        <div class="text110">Delete</div>
        <div class="rect113"></div>
        <div class="text111">Delete</div>
        <div class="rect114"></div>
        <div class="text112">Delete</div>
        <div class="rect115"></div>
        <div class="text113">Delete</div>
        <div class="rect116"></div>
        <div class="text114">Delete</div>
        <div class="rect117"></div>
        <div class="text115">Delete</div>
        <div class="rect117"></div>
        <div class="text115">Delete</div>
        <img class="image9" src="/assets/d5f92b134ca045a60e0103f08001a07b.png" alt="alt text" />
        <div class="content_box">
          <div class="group">
            <div class="flex_row2">
              <div class="flex_col">
                <img class="image710" src="/assets/351f264459cbd5cb99cbee007b2e1be1.svg" alt="alt text" /><img
                  class="image711"
                  src="/assets/7ca865190c206b9032c9f961e5c16dfe.svg"
                  alt="alt text"
                /><img class="image12" src="/assets/06476ec2306e5341d7ba99d9abe1c9fc.svg" alt="alt text" /><img
                  class="image712"
                  src="/assets/35fd738da9d4a6539973a9169ff266f4.svg"
                  alt="alt text"
                /><img class="image711" src="/assets/3e98e41b01ff8f90bc52935a45cc778c.svg" alt="alt text" /><img
                  class="image711"
                  src="/assets/d823f1f9a8c4a22a5a0462f85d2a800e.svg"
                  alt="alt text"
                />
              </div>
              <div class="flex_col1">
                <h5 class="highlight21"><a href="Dashboard.html">Dashboard</a></h5>
                <h5 class="highlight11"><a href="Reservation.html">Reservations</a></h5>
                <h5 class="highlight12"><a href="Restaurant.html">Restaurants</a></h5>
                <h5 class="highlight13"><a href="Feedback.html">Feedback</a></h5>
                <h5 class="highlight11"><a href="Users.html">Users</a></h5>
                <h5 class="highlight14">Sign Out</h5>
              </div>
            </div>
            <div class="rect13"></div>
            <h1 class="title">YourFavourite</h1>
            <img class="line11" src="/assets/52d42cee89a6e9dec7af0489c520b55a.svg" alt="alt text" /><img
              class="image15"
              src="/assets/436f4f9737f5589ffe3f6ea92ba1f83f.svg"
              alt="alt text"
            />
          </div>
        </div>
      </section>

    </main>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
