<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Search.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="search root">
      <div class="rect"></div>
      <div class="rect1"></div>
      <h1 class="hero_title">Find your table for any occasion</h1>
      <div class="rect2"></div>
      <img class="image" src="/assets/5115d67c8abbf733e46bd7e3a32fa1bd.svg" alt="alt text" />
      <h5 class="highlight">May 25, 2021</h5>
      <img class="image1" src="/assets/d3375c626ac2dcae3410a367caa1de3a.svg" alt="alt text" />
      <div class="rect3"></div>
      <div class="rect4"></div>
      <img class="image2" src="/assets/049a7fe3dcd1529165a2e0d7fcffe881.svg" alt="alt text" />
      <h5 class="highlight1">10:00 PM</h5>
      <img class="image3" src="/assets/d3375c626ac2dcae3410a367caa1de3a.svg" alt="alt text" />
      <div class="rect5"></div>
      <img class="image4" src="/assets/b61ce0bf8dc939a51f2d03463bf99c46.svg" alt="alt text" />
      <h5 class="highlight2">2 people</h5>
      <img class="image5" src="/assets/d3375c626ac2dcae3410a367caa1de3a.svg" alt="alt text" />
      <div class="rect6"></div>
      <h5 class="highlight11">Location, Restaurant, or Cuisine</h5>
      <img class="image6" src="/assets/24c024cb9cc0282e8d2ea8e80a48b7a3.svg" alt="alt text" />
      <div class="rect7"></div>
      <div class="text">Let’s go</div>
      <h1 class="title">Search results</h1>
      <div class="rect8"></div>
      <img class="image21" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title">Pirate</h2>
      <h5 class="highlight21"><i class="fas fa-star"></i></h5>
      <h5 class="highlight22"><i class="fas fa-star"></i></h5>
      <h5 class="highlight23"><i class="fas fa-star"></i></h5>
      <h5 class="highlight24"><i class="fas fa-star"></i></h5>
      <h5 class="highlight3"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect9"></div>
      <img class="image22" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title1">Pirate</h2>
      <h5 class="highlight25"><i class="fas fa-star"></i></h5>
      <h5 class="highlight26"><i class="fas fa-star"></i></h5>
      <h5 class="highlight27"><i class="fas fa-star"></i></h5>
      <h5 class="highlight28"><i class="fas fa-star"></i></h5>
      <h5 class="highlight31"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect91"></div>
      <img class="image23" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title2">Pirate</h2>
      <h5 class="highlight29"><i class="fas fa-star"></i></h5>
      <h5 class="highlight210"><i class="fas fa-star"></i></h5>
      <h5 class="highlight211"><i class="fas fa-star"></i></h5>
      <h5 class="highlight212"><i class="fas fa-star"></i></h5>
      <h5 class="highlight32"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect81"></div>
      <img class="image24" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title3">Pirate</h2>
      <h5 class="highlight213"><i class="fas fa-star"></i></h5>
      <h5 class="highlight214"><i class="fas fa-star"></i></h5>
      <h5 class="highlight215"><i class="fas fa-star"></i></h5>
      <h5 class="highlight216"><i class="fas fa-star"></i></h5>
      <h5 class="highlight33"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect82"></div>
      <img class="image25" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title4">Pirate</h2>
      <h5 class="highlight217"><i class="fas fa-star"></i></h5>
      <h5 class="highlight218"><i class="fas fa-star"></i></h5>
      <h5 class="highlight219"><i class="fas fa-star"></i></h5>
      <h5 class="highlight220"><i class="fas fa-star"></i></h5>
      <h5 class="highlight34"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect83"></div>
      <img class="image26" src="/assets/modern_restaurant_interior.png" alt="alt text" />
      <h2 class="medium_title5">Pirate</h2>
      <h5 class="highlight221"><i class="fas fa-star"></i></h5>
      <h5 class="highlight222"><i class="fas fa-star"></i></h5>
      <h5 class="highlight223"><i class="fas fa-star"></i></h5>
      <h5 class="highlight224"><i class="fas fa-star"></i></h5>
      <h5 class="highlight35"><a href="PreviewDetails.html">View Details</a></h5>
      <div class="rect10"></div>
      <h1 class="title1">YourFavourite</h1>
      <h5 class="highlight4"><a href="Home.html">Home</a></h5>
      <h5 class="highlight41"><a href="Search.html">Search</a></h5>
      <img class="image31" src="/assets/45776991d8c3ef5907fe2eb5464e43cf.svg" alt="alt text" />
      <h5 class="highlight42"><a href="MyReservations.html">My Reservations</a></h5>
      <img class="image41" src="/assets/624279aed3ec8310dc97116e9ccba73b.svg" alt="alt text" />
      <h5 class="highlight43">User Name</h5>
      <h5 class="highlight5">Sign Out</h5>
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
