<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/SignIn.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="sign-in root">

      <div class="text_box">
        <span class="text"
          ><span class="text_span0">Not registered yet?</span><span class="text_span1"> </span
          ><span class="text_span2">Create an Account</span></span
        >
      </div>
      <div class="rect"></div>
      <div class="text1"><a href="Home.html">Sign In</a></div>
      <div class="text2">Keep me logged in</div>
      <img class="image1" src="/assets/8d477bddcd9c74fc9f9dae349104f37b.svg" alt="alt text" />
      <div class="text3">Forget password?</div>
      <div class="text4_box">
        <span class="text4"><span class="text4_span0">Password</span><span class="text4_span1">*</span></span>
      </div>
      
      <img class="cover" src="/assets/c965a84dfa491c8efa9b284c50f8fa9b.svg" alt="alt text" />
      <div class="text5">Min. 8 characters</div>
      <img class="image3" src="/assets/afec2f398795d9a64bc8be417c4beed3.svg" alt="alt text" />
      <div class="text4_box1">
        <span class="text4"><span class="text4_span0">Email</span><span class="text4_span1">*</span></span>
      </div>
      <img class="cover1" src="/assets/c965a84dfa491c8efa9b284c50f8fa9b.svg" alt="alt text" />
      <div class="text51">mail@pegasus.com</div>
      <div class="text6">or</div>
      <img class="line" src="/assets/b2a681e9cb56c846eea4559cbc448540.svg" alt="alt text" /><img
        class="line1"
        src="/assets/6b9cae77ed82ef99c31b70cb141735d7.svg"
        alt="alt text"
      />
      <div class="rect1"></div>
      <img class="image31" src="/assets/35811041bc9d7bb15c777dfeadc3777b.svg" alt="alt text" />
      <div class="text7">Sign in with Google</div>
      <h1 class="big_title">Sign In</h1>
      <h5 class="highlight">Enter your email and password to sign in!</h5>
    </div>

    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
