<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
      a {
          text-decoration: none;  /* Remove underline */
          color: inherit;         /* Inherit color from parent */
          cursor: default;        /* Change cursor to default arrow */
      }
  </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Users.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body class="flex-column">
    <div class="users root">
      <div class="text">Pages / Users</div>
      <h1 class="big_title">Users</h1>
      <div class="rect"></div>
      <img class="image" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect1"></div>
      <img class="image1" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="line"></div>
      <img class="cover" src="/assets/cc5caedfd9ca55f6031a8ade590bea80.svg" alt="alt text" /><img
        class="image2"
        src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg"
        alt="alt text"
      />
      <h5 class="highlight">User Name</h5>
      <div class="text1">+21612345678</div>
      <div class="text11">Restaurant Owner</div>
      <div class="text12"><span class="text12_span0">UserName@gmail.com</span></div>
      <div class="rect2"></div>
      <div class="rect11"></div>
      <div class="text2">Delete</div>
      <div class="rect21"></div>
      <div class="text21">Modify</div>
      <img class="image3" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect3"></div>
      <img class="image4" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect4"></div>
      <img class="image5" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
      <div class="line4"></div>
      <div class="line5"></div>
      <img class="cover1" src="/assets/8b29da9e8e85ddcfd40a4436cfdc46ed.svg" alt="alt text" /><img
        class="image6"
        src="/assets/c6de33531be37dca8acb3256af5d9a40.svg"
        alt="alt text"
      />
      <div class="rect5"></div>
      <img class="image7" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="rect6"></div>
      <img class="image8" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" /><img
        class="cover11"
        src="/assets/8b1fa6506ae1ae5cac2957b2fe53900a.svg"
        alt="alt text"
      /><img class="image9" src="/assets/dd755a6d4a23e1622ea2c1aa39a039c1.svg" alt="alt text" />
      <div class="line6"></div>
      <div class="line7"></div>
      <div class="line11"></div>
      <div class="line8"></div>
      <img class="cover2" src="/assets/1af3938e1bdfd9ae65a86cb17f96a7ad.svg" alt="alt text" /><img
        class="cover2"
        src="/assets/1af3938e1bdfd9ae65a86cb17f96a7ad.svg"
        alt="alt text"
      /><img class="image10" src="/assets/24aff7c6e1e168dc6e3e57309e3087f4.svg" alt="alt text" />
      <div class="text3">1 selected</div>
      <div class="rect31"></div>
      <div class="info">1</div>
      <h5 class="highlight1">User Name</h5>
      <h5 class="highlight2">User Name</h5>
      <h5 class="highlight3">User Name</h5>
      <h5 class="highlight4">User Name</h5>
      <h5 class="highlight5">User Name</h5>
      <h5 class="highlight6">User Name</h5>
      <h5 class="highlight7">User Name</h5>
      <h5 class="highlight8">User Name</h5>
      <h5 class="highlight9">User Name</h5>
      <div class="text13">Client</div>
      <div class="text14">Restaurant Owner</div>
      <div class="text15">Client</div>
      <div class="text16">Restaurant Owner</div>
      <div class="text17">Client</div>
      <div class="text18">Restaurant Owner</div>
      <div class="text19">Client</div>
      <div class="text110">Restaurant Owner</div>
      <div class="text111">Client</div>
      <img class="image31" src="/assets/4d078896b758204c54c3ac65a69d50e5.svg" alt="alt text" /><img
        class="image32"
        src="/assets/8dd9ea29e1bd074e032f2a09911e8502.svg"
        alt="alt text"
      /><img class="image33" src="/assets/034c199279e5093eac2fc784ca6309bb.svg" alt="alt text" /><img
        class="image34"
        src="/assets/bc50d1ec646a2096820d03123000249c.svg"
        alt="alt text"
      /><img class="image35" src="/assets/2f45b3a39a5f8d08304ec43d71a13693.svg" alt="alt text" /><img
        class="image36"
        src="/assets/d525a680ba1e6ac21818661c68a37145.svg"
        alt="alt text"
      /><img class="image37" src="/assets/3e76506a23e7fe88faf47bfdad83ac6c.svg" alt="alt text" /><img
        class="image38"
        src="/assets/abba577fc893e44aaa83cc312d847d2b.svg"
        alt="alt text"
      /><img class="image39" src="/assets/6533d3406ea64bc9a92dd0cc8ed178f5.svg" alt="alt text" /><img
        class="image310"
        src="/assets/7570dcf1b7b5a9f1540bf2d8a2b3f869.svg"
        alt="alt text"
      />
      <div class="text112"><span class="text112_span0">UserName@gmail.com</span></div>
      <div class="text113"><span class="text113_span0">UserName@gmail.com</span></div>
      <div class="text114"><span class="text114_span0">UserName@gmail.com</span></div>
      <div class="text4"><span class="text4_span0">UserName@gmail.com</span></div>
      <div class="text115"><span class="text115_span0">UserName@gmail.com</span></div>
      <div class="text116"><span class="text116_span0">UserName@gmail.com</span></div>
      <div class="text117"><span class="text117_span0">UserName@gmail.com</span></div>
      <div class="text118"><span class="text118_span0">UserName@gmail.com</span></div>
      <div class="text119"><span class="text119_span0">UserName@gmail.com</span></div>
      <div class="text120">+21612345678</div>
      <div class="text121">+21612345678</div>
      <div class="text122">+21612345678</div>
      <div class="text123">+21612345678</div>
      <div class="text124">+21612345678</div>
      <div class="text125">+21612345678</div>
      <div class="text126">+21612345678</div>
      <div class="text127">+21612345678</div>
      <div class="text128">+21612345678</div>
      <div class="rect22"></div>
      <div class="text22">Modify</div>
      <div class="rect12"></div>
      <div class="text23">Delete</div>
      <div class="rect23"></div>
      <div class="text24">Modify</div>
      <div class="rect61"></div>
      <div class="text25">Modify</div>
      <div class="rect62"></div>
      <div class="text26">Modify</div>
      <div class="rect63"></div>
      <div class="text27">Modify</div>
      <div class="rect64"></div>
      <div class="text28">Modify</div>
      <div class="rect65"></div>
      <div class="text29">Modify</div>
      <div class="rect66"></div>
      <div class="text210">Modify</div>
      <div class="rect67"></div>
      <div class="text211">Modify</div>
      <div class="rect7"></div>
      <div class="text212">Delete</div>
      <div class="rect71"></div>
      <div class="text213">Delete</div>
      <div class="rect72"></div>
      <div class="text214">Delete</div>
      <div class="rect73"></div>
      <div class="text215">Delete</div>
      <div class="rect74"></div>
      <div class="text216">Delete</div>
      <div class="rect75"></div>
      <div class="text217">Delete</div>
      <div class="rect76"></div>
      <div class="text218">Delete</div>
      <div class="rect77"></div>
      <div class="text219">Delete</div>
      <div class="rect77"></div>
      <div class="text219">Delete</div>
      <div class="rect8"></div>
      <img class="image51" src="/assets/black_square.png" alt="alt text" /><img
        class="cover3"
        src="/assets/e0654c107da12d78a2c585873d2ace8a.svg"
        alt="alt text"
      />
      <div class="text5">Search</div>
      <img class="image61" src="/assets/fe9981f0e942a6fb5c7fea9d5d9b8347.svg" alt="alt text" />
      <div class="rect9"></div>
      <div class="text220">Add User</div>
      <div class="rect10"></div>
      <h5 class="highlight11">Sign Out</h5>
      <img class="image311" src="/assets/9b9776559db78b40f34b26cd77546dc4.svg" alt="alt text" />
      <h5 class="highlight12"><a href="Users.html">Users</a></h5>
      <img class="image312" src="/assets/8a513bffda83951f29d9e7120335a898.svg" alt="alt text" />
      <h5 class="highlight13"><a href="Feedback.html">Feedback</a></h5>
      <img class="image313" src="/assets/fe8828412e691b95935bf12f1c479ab8.svg" alt="alt text" />
      <h5 class="highlight14"><a href="Restaurant.html">Restaurants</a></h5>
      <img class="image11" src="/assets/e513a479f82d8d91e7c72ef6673b0300.svg" alt="alt text" />
      <h5 class="highlight15"><a href="Reservation.html">Reservations</a></h5>
      <img class="image314" src="/assets/472e3b9ef019b3aebfe582c7b3791c6c.svg" alt="alt text" />
      <h5 class="highlight21"><a href="Dashboard.html">Dashboard</a></h5>
      <img class="image315" src="/assets/07ccbe58ae9fe9629b69856deb914101.svg" alt="alt text" />
      <div class="rect111"></div>
      <h1 class="title">YourFavourite</h1>
      <img class="line21" src="/assets/52d42cee89a6e9dec7af0489c520b55a.svg" alt="alt text" /><img
        class="image14"
        src="/assets/436f4f9737f5589ffe3f6ea92ba1f83f.svg"
        alt="alt text"
      />
    </div>
    <script type="text/javascript">
      AOS.init();
      new Sticky('.sticky-effect');
    </script>
  </body>
</html>
